﻿
.searchControl {
    display: block;
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 75px;
    width: 60%;
}
.simpleGeocoder .esriGeocoderContainer {
       width: 100%;
}
.simpleGeocoder .esriGeocoder input{
     width: 80%;
   /* Firefox */
    width: -moz-calc(100% - 60px) !important;
    /* WebKit */ 
    width: -webkit-calc(100% - 60px) !important;
    /* Opera */
    width: -o-calc(100% - 60px) !important;
    /* Standard */
    width: calc(100% - 60px) !important;
}
.esriGeocoder input {
    width: 80%;
     /* Firefox */
    width: -moz-calc(100% - 60px) !important;
    /* WebKit */ 
    width: -webkit-calc(100% - 60px) !important;
    /* Opera */
    width: -o-calc(100% - 60px) !important;
    /* Standard */
    width: calc(100% - 60px) !important;
    padding-right: 0;
    margin-right: 0;
    overflow: hidden;
}

.simpleGeocoder .esriGeocoderMultiple  input {
     /* Firefox */
    width: 80%;
    width: -moz-calc(100% - 80px) !important;
    /* WebKit */ 
    width: -webkit-calc(100% - 80px) !important;
    /* Opera */
    width: -o-calc(100% - 80px) !important;
    /* Standard */
    width: calc(100% - 80px) !important ;
    padding-right: 0;
    margin-right: 0;
    overflow: hidden;
}

